@CHARSET "UTF-8";



body, h1, h3{
	margin: 0px;
	padding: 0px;
}


/* header */

#header{
	background-color: #999;
	height: 50px;
	padding: 5px;
	font: Arial, Verdana, Tahoma, sans-serif;
}

#header #logo{
	margin-top: 12px;
	font-size: 25px;
	color: #40403C;
}

#header #logo #slogan{
	font-size: 25px;
	color: white;
}

#header #version{
	margin-top: 53px;
	font-size: 12px;
}

/* menu */

#menu{
	background-color: #E0E0E0;
	height: 50px;
}


/* page */

#page #pageTitle{
	width: 50%;
	margin-top: 20px;
}

#page #pageTitle div{
	margin-left: 10px;
	font-family: arial;
	border-bottom: 1px solid #aed0ea;
	color: #40403C;
}


#page #pageContent{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-left:1px solid #aed0ea;
	border-right:1px solid #aed0ea;
	border-top:1px solid #aed0ea;
	border-top-left-radius:6px 6px;
  	border-top-right-radius:6px 6px;
	padding: 10px;
}



/* geral */
form label {
	font-family: arial;
	font-size: 13px;
	display: block;
}


#divInput div {
	float: left;
	margin-right: 50px;
}


.divContent{
	margin-top: 10px;
}



.inputText{
	background-image: none !important;
	background-color: white !important;
}


.nofificationBar{
	opacity: 0.5;
	height: 60px !important;
}


.negativo{
	color: red;
}

.positivo{
	color: blue;
}